a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.clockUser {
    margin-bottom: -10px;
    border-left: solid #1d1821 5px;
}

#Clock {
    display: flex;
    background-color: #3f51b6;
    position: fixed;
    bottom: 0px;
    color: white;
    border-top-right-radius: 10px;
    padding-right: 10px;
}
