.title {
    text-align: center;
    padding-top: 2%;
}

.addButton {
    background-color: #00cc66;
    left: 0px;
    color: white;
    border-radius: 10px;
    top: 20%;
    left: 50%;
}

.adminTable th {
    padding-right: 50px
}

.adminTableDiv {
    display: flex;
    justify-content: center;
    margin-left: 30px;
}

