@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


body {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    background-color: #c4e1ff;
    user-select: none;
}

::-webkit-scrollbar {
    width: 11px;
    height: 11px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: black;
    border: 1px solid #802113;
    border-radius: 50px;
}

::-webkit-scrollbar-track {
    background: #9ab3f5;
    border: 0px none #ffffff;
    border-radius: 53px;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

.FoodItems, .MenuItems {
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    width: 600px;
    float: left;
    background-color: #aed5ff;
    color: black;
}

.FoodItems {
    width: 500px;
}

.Button {
    border: 0px solid #000;
    color: black;
    background-color: #9ab3f5;
    display: flex;
    margin-bottom: 15px;
    Width: 10em;
    font-size: 48px;
    border-radius: 10px;
    text-align: left;
}

.Button:active {
    background-color: black;
    color: white;
}

.DButton {
    padding: 20px;
    vertical-align: middle;
    border-radius: 5px;
    background-color: #9ab3f5;
    width: 80px;
    height: 80px;
}
.DButton img {
    margin-bottom: 100px
}

.DButton:active {
    background-color: black;
    color: white;
}

.CompleteButton {
    position: absolute;
    text-align: center;
    bottom: 5%;
    border-radius: 10px;
    background-color: #3f51b6;
    color: white;
}

.CompleteButton:active {
    background-color: white;
    color: black;
}

#cashierClock {
    background-color: #3f51b6;
    position: fixed;
    bottom: 0px;
    color: white;
    border-top-right-radius: 10px;
    padding-right: 10px;
}

#DrinkTable {
    vertical-align: middle;

}

.Drinks {
    text-align: right;
}

#CurrentOrder {
    border-radius: 15px;
    padding: 10px;
    border: 10px solid #232636;
    height: 96vh;
    display: flex;
    margin: 10px;
    overflow: auto;
    background-color: #aed5ff;
}

.DrinkSizeLabel {
    text-align: center;
}

#largeDrinkId {
    padding-left: -10px;
}

.FoodItems button * {
    margin-top: 10px;
}

#container {
    white-space: nowrap;

}


#CurrentOrderList {
    overflow: auto;
    height: 90%;
}

input[type="button"] {
    outline: none;
}

*:focus {
    outline: 0 !important;
}

.CurrentIcon {
    position: relative;
    top: -7px;
}

.selectedOrder {
    color: red;
}