@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    background-color: #f8f8f8;
}

.FoodItems, .MenuItems {
    border: 2px solid #e2e2e2;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    width: 500px;
    float: left;
}

.Button {
    border: 2px solid #000;
    color: black;
    background-color: #e2e4f0;
    display: flex;
    margin-bottom: 15px;
    Width: 10em;
    font-size: 48px;
    border-radius: 10px;
    text-align: left;
}

.Button:active {
    background-color: black;
    color: white;
}

.DButton {
    padding: 20px;
    vertical-align: middle;
    border-radius: 5px;
    background-color: #e2e4f0
}

.DButton:active {
    background-color: black;
    color: white;
}

.CompleteButton {
    position: absolute;
    text-align: center;
    width: inherit;
    bottom: 5%;
    border-radius: 10px;
    background-color: #3f51b6;
    color: white;
}

.CompleteButton:active {
    background-color: white;
    color: black;
}

#DrinkTable {
    vertical-align: middle;

}

#CurrentOrder {
    border-radius: 15px;
    padding: 10px;
    border: 10px solid black;
    height: 96vh;
    display: flex;
    margin: 10px;
    overflow: auto;

}

.DrinkSizeLabel {
    text-align: center;
}

#largeDrinkId {
    padding-left: -10px;
}

.FoodItems button * {
    margin-top: 10px;
}

#container {
    white-space: nowrap
}

#CurrentOrderList {
    
}