.ButtonList {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.HomeButton:hover {
    color: white;
}

.AdminButton:hover {
    color: white;
}

.HomeButton {
    background-color: #3f51b6;
    margin: 10px;
    color: white;
    border-radius: 10px;
    width: 100%;
}

.AdminButton {
    background-color: #ff9008;
    margin: 10px;
    color: white;
    border-radius: 10px;
    width: 100%;
}

.SignOutButton {
    background-color: red;
    margin: 10px;
    color: white;
    border-radius: 10px;
    height: 90px;
    border: none;
    width: 100%;
}

.HomeTitle {
    font-size: 60px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 25px;
}

.LogButton {
    background-color: green;
    margin: 10px;
    color: white;
    border-radius: 10px;
    height: 90px;
    border: none;
    width: 100%;
}

.LogButton:hover {
    color: white;
}