body {
/*    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;*/
    /*background-color: #000000;*/
}

.OrderDiv {
    background-color: #f9f9f9;
    max-width: 25vmax;
    padding: 2px;
    padding-right: 10px;
    margin: 5px;
    border-radius: 10px;
    float: left;
    background-color: #eee;
    border-color: #bbb;
    border-style: solid;
    border-width: 3px;
}

ul {
    list-style: none;
}

li {
    margin-left: -1em;
}

#kitchenClock {
    background-color: #3f51b6;
    position: fixed;
    bottom: 0px;
    color: white;
    border-top-right-radius: 10px;
    padding-right: 10px;
    z-index: 99;
}

#Completed {
    border-color: chartreuse;
    border-width: 10px;
    border-style: solid;
}

#FinishOrders {
    height: 75px;
    position: fixed;
    bottom: 0%;
    width: 100%;
    background-color: lawngreen;
    text-align: right
}

#completeOrders {
    border-color: chartreuse;
    background-color: #ebfff7;
}

#incompleteOrders {
    border-color: tomato;
    background-color: #ffefeb;
}

.KitchenBackButton {
    background-color: #3f51b6;
    position: fixed;
    bottom: 75px;
    color: white;
    border-top-right-radius: 10px;
    padding-right: 10px;
    z-index: 99;
}

.GroupOrder {
    width: 600px;
    background-color: #aed5ff;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin: 5px;
    flex-wrap: nowrap;
    flex-direction: column;
    display: inline-flex;
    border-color: black;
    border: solid 10px;
}

.CompleteText {
    width: auto;
    padding-left: 10px;
    color: black;
    background-color: lawngreen;
    font-size: 30px;
    margin: 5px;
    margin-top: -30px;
    border-radius: 10px;
    font-weight: 600;
}

.IncompleteText {
    width: auto;
    padding-left: 10px;
    color: black;
    background-color: tomato;
    font-size: 30px;
    margin: 5px;
    margin-top: -30px;
    border-radius: 10px;
    font-weight: 600;
}
.AllGroupOrder {
    flex-wrap: nowrap;
    flex-direction: column;
    display: inline-flex;
}

.Recall {
    background-color: #683fb6;
    position: fixed;
    bottom: 0;
    right: 0;
    color: white;
    border-top-left-radius: 10px;
    padding-right: 10px;
    z-index: 99;
}

#RecallDiv {
    width: 480px;
    background-color: #f1d7ff;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin: 5px;
    flex-wrap: nowrap;
    flex-direction: column;
    display: inline-flex;
    border: solid #683fb6 10px;
    position: absolute;
    bottom: 10vh;
    right: 0;
}

.kitchenDeletedOrder {
    text-decoration: line-through;
}

.RecallDelete {
    text-decoration: line-through;
}

.RecallText {
    width: 480px;
    padding-left: 10px;
    color: white;
    background-color: #683fb6;
    font-size: 30px;
    margin: 5px;
    margin-top: -30px;
    border-radius: 10px;
    font-weight: 600;
    position: absolute;
    bottom: 7vh;
    right: 0;
}