body {
/*    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;*/
    /*background-color: #000000;*/
}

.OrderDiv {
    background-color: #f9f9f9;
    max-width: 25vmax;
    padding: 2px;
    padding-right: 10px;
    margin: 5px;
    border-radius: 10px;
    font-size: 0.5em;
    float: left;
    background-color: #eee;
    border-color: #bbb;
    border-style: solid;
    border-width: 3px;
}

ul {
    list-style: none;
}

li {
    margin-left: -1em;
}

#Completed {
    border-color: chartreuse;
    border-width: 10px;
    border-style: solid;
}

#FinishOrders {
    height: 80px;
    position: fixed;
    bottom: 0%;
    width: 100%;
    background-color: lawngreen;
}

#testingOrders {
    font-size: 20px;
}