.LoginContainer {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px 0 30px 0;
}

.Login {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 50%;
    height: 50%;
}

.Login input[type="text"] {
    margin-bottom: 20px;
}

input,
.btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
}

    input:hover,
    .btn:hover {
        opacity: 1;
    }

    input[type="submit"] {
        background-color: #4caf50;
        color: white;
        cursor: pointer;
    }

        input[type="submit"]:hover {
            background-color: #45a049;
        }

.Login h1 {
    margin-left: 30px;
    text-align: center;
}

.Login h3 {
    font-size: 20px;
    margin-bottom: -18px;
    text-align: center;
}

.Login p {
    text-align: center;
}

.Login .col {
    float: left;
    width: 50%;
    margin: auto;
    padding: 0 50px;
    margin-top: 6px;
}

.alert {
    margin-top: 30px;
    left:25%;
    font-size:20px;
    border-radius:5px;
    width: 50%;
    color: white;
    background-color: red;
}

.Login .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}